<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bandas Desenhadas - LS Vilson World</title>
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/bandas.css" />
</head>
<body>
    <%- include('partials/header') %>

    <div class="bandas-container">
        <h2 class="titulo-bandas">Bandas da LS Vilson World</h2>

        <!-- Seção terror -->
        <section class="secao-genero">
            <h3 class="genero-titulo">Terror</h3>
            <div class="galeria-bandas">
                <div class="card-banda">
                    <img src="/img/capaDeBandaDesenhada/terror/Doutor Maestro.jpg" alt="Os Vilson Boys" />
                    <h4>Doutor Maestro</h4>
                    <p class="descricao-banda">Jovens heróis em busca de justiça nas ruas da cidade.</p>
                    <a href="/bandas/vilson-boys" class="botao-ver-mais">Ver mais</a>
                </div>
                 <div class="card-banda">
                    <img src="/img/capaDeBandaDesenhada/terror/Mawey halloween.jpg" alt="Os Vilson Boys" />
                    <h4>Mawey halloween</h4>
                    <p class="descricao-banda">Jovens heróis em busca de justiça nas ruas da cidade.</p>
                    <a href="/bandas/vilson-boys" class="botao-ver-mais">Ver mais</a>
                </div>
                 <div class="card-banda">
                    <img src="/img/capaDeBandaDesenhada/terror/Rantchu Semideus.jpg" alt="Os Vilson Boys" />
                    <h4>Rantchu Semideus</h4>
                    <p class="descricao-banda">Jovens heróis em busca de justiça nas ruas da cidade.</p>
                    <a href="/bandas/vilson-boys" class="botao-ver-mais">Ver mais</a>
                </div>
            </div>
        </section>

        <!-- Seção acção -->
        <section class="secao-genero">
            <h3 class="genero-titulo">Acção</h3>
            <div class="galeria-bandas">
                <div class="card-banda">
                    <img src="/img/capaDeBandaDesenhada/accao/familiaUs.jpg" alt="Power Beats" />
                    <h4>familia Us</h4>
                    <p class="descricao-banda">Banda musical com poderes secretos enfrentando forças do mal.</p>
                    <a href="/bandas/power-beats" class="botao-ver-mais">Ver mais</a>
                </div>
                  <div class="card-banda">
                    <img src="/img/capaDeBandaDesenhada/accao/TheBlackStar.jpg" alt="Power Beats" />
                    <h4>The Black Star</h4>
                    <p class="descricao-banda">Banda musical com poderes secretos enfrentando forças do mal.</p>
                    <a href="/bandas/power-beats" class="botao-ver-mais">Ver mais</a>
                </div>
                  <div class="card-banda">
                    <img src="/img/capaDeBandaDesenhada/accao/TheShadowMan.jpg" alt="Power Beats" />
                    <h4>The Shadow Man</h4>
                    <p class="descricao-banda">Banda musical com poderes secretos enfrentando forças do mal.</p>
                    <a href="/bandas/power-beats" class="botao-ver-mais">Ver mais</a>
                </div>
            </div>
        </section>

        <!-- Seção aventura -->
        <section class="secao-genero">
            <h3 class="genero-titulo">Aventura</h3>
            <div class="galeria-bandas">
                <div class="card-banda">
                    <img src="/img/capaDeBandaDesenhada/aventura/insecto.jpg" alt="Anime Rockers" />
                    <h4>Insecto</h4>
                    <p class="descricao-banda">Músicos com habilidades sobrenaturais em aventuras intergalácticas.</p>
                    <a href="/bandas/anime-rockers" class="botao-ver-mais">Ver mais</a>
                </div>
                  <div class="card-banda">
                    <img src="/img/capaDeBandaDesenhada/aventura/nosOsPius.jpg" alt="Anime Rockers" />
                    <h4>Nos Os Pius</h4>
                    <p class="descricao-banda">Músicos com habilidades sobrenaturais em aventuras intergalácticas.</p>
                    <a href="/bandas/anime-rockers" class="botao-ver-mais">Ver mais</a>
                </div>
            </div>
        </section>
    </div>

    <%- include('partials/footer') %>
</body>
</html>
