<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <title>LS Vilson World</title>
  <link rel="stylesheet" href="/css/global.css">
<link rel="stylesheet" href="/css/home.css">

</head>
<body>
  <%- include('partials/header') %>

  <section class="hero">
    <h1>Bem-vindo à LS Vilson World</h1>
    <p>Explore nossas histórias, animações e personagens incríveis.</p>
    <img class="personagem-animado" src="/img/logo.png" alt="Personagem">
  </section>

  <%- include('partials/footer') %>
</body>
</html>
